#mainHeader{
    font-size: 100px;
    text-align: center;
}
h1{
    font-size: larger;
    color:#CCFFCC ;
}
.sub{
    color: black;
}
.dish{
    font-size: 50px;
}
li{
    margin: 25px 25px 0px 25px;
    display: inline-block;
}
nav{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    background-color: aqua;
}
#searchByMap{
    text-align: center;
    font-size: 50px;
}
section>a{
    display: block;
    margin: 0 auto;
    width: fit-content;
}